{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="flex h-screen flex-col justify-center text-center items-center bg-gradient-to-tr from-white to-blue-200 bg-opacity-100 rounded-2xl">
        <h1 id="question" class="text-9xl font-bold text-gray-800">Przygotuj się na pierwsze pytanie i zapoznaj się z interfejsem.</h1>
        <div class="text-7xl font-bold mt-32 text-gray-800" id="results"></div>
            <div class="flex flex-row justify-around text-center items-center m-2">
                <div class="w-max bg-indigo-600 p-4 m-2">
                    <p class="font-7xl font-bold px-4 mx-2 answer" id="first">Tu będzie pierwsza odpowiedź</p>
                </div>
                <div class="w-max bg-indigo-600 p-4 m-2">
                    <p class="font-7xl font-bold px-4 mx-2 answer" id="second">Tu będzie druga odpowiedź</p>
                </div>
            </div>
            <div class="flex flex-row justify-around text-center items-center m-2">
                <div class="w-max bg-indigo-600 p-4 m-2">
                    <p class="font-7xl font-bold px-4 mx-2 answer" id="third">Tu będzie trzecia odpowiedź</p>
                </div>
                <div class="w-max bg-indigo-600 p-4 m-2">
                    <p class="font-7xl font-bold px-4 mx-2 answer" id="fourth">Tu będzie czwarta odpowiedź</p>
                </div>
            </div>
            {% if request.user.player.is_creator %}
                <input id="next" type="button" class="rounded mt-32 py-4 px-32 uppercase font-bold text-white border border-black bg-gradient-to-t from-yellow-600 to-red-400" value="Next question">
            {% endif %}
            <p id="right_answer" class="text-7xl font-bold mt-32 text-gray-800"></p>
            <p id="creator_left" class="text-7xl font-bold mt-32 text-gray-800"></p>
</div>

{{ room_name|json_script:"room-name" }}
<script charset="utf-8" src = "{% static 'js/game.js' %}"></script>
{% endblock %}
