{% extends "base.html" %}
{% load static %}

{% block main_content %}
<div class="row">
    <div class="col-lg-12">
        <h1 id="question">Przygotuj się na pierwsze pytanie i zapoznaj się z interfejsem.</h1>
        <div id="results"></div>
        <p class="answer" id="first">Tu będzie pierwsza odpowiedź</p>
        <p class="answer" id="second">Tu będzie druga odpowiedź</p>
        <p class="answer" id="third">Tu będzie trzecia odpowiedź</p>
        <p class="answer" id="fourth">Tu będzie czwarta odpowiedź</p>
        {% if request.user.player.is_creator %}
            <input id="next" type="button" value="Next question">
        {% endif %}
        <p id="right_answer"></p>
        <p id="creator_left"></p>
    </div>
</div>

{{ room_name|json_script:"room-name" }}
<script charset="utf-8" src = "{% static 'js/game.js' %}"></script>
{% endblock %}
